@import '$lib/globals';

@media screen and (max-width: $mobile) {
	h1,
	h2,
	p {
		text-align: center;
	}
}

* {
	box-sizing: border-box;
	text-align: justify;
}

.bold {
	font-weight: bold;
}

html {
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;

	img {
		// this should fix blurry images on chromium
		@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
			image-rendering: -webkit-optimize-contrast !important;
		}

		// Unset for Safari 11+
		@media not all and (min-resolution: 0.001dpcm) {
			@supports (-webkit-appearance: none) and (stroke-color: transparent) {
				image-rendering: unset !important;
			}
		}
	}

	main.content {
		width: 100%;
		min-height: 100vh;
		height: 100%;
		background: var(--bg);
		color: var(--text);

		font-family: 'Times New Roman', 'MS PGothic', Osaka, Times, serif;
		button,
		input {
			font-family: 'Times New Roman', 'MS PGothic', Osaka, Times, serif;
		}

		div.content-wrapper {
			min-height: 100vh;
			max-height: 100vh;
			display: flex;
			flex-direction: column;

			a {
				color: var(--text);
			}

			padding: 30px;
			overflow-y: scroll;

			@media screen and (max-width: $mobile) {
				&.sidebar-a {
					padding-top: calc(70px + 30px);
					height: calc(100% - 70px);
				}

				&.sidebar-b {
					padding-bottom: calc(70px + 30px);
					height: calc(100% - 70px);
				}
			}

			@media screen and (min-width: $noMobile) {
				&.sidebar-a {
					margin-left: 200px;
					width: calc(100% - 200px);
				}

				&.sidebar-b {
					// hack to change scrollbar side
					// will break if language is arabic, probably
					direction: rtl;
					* {
						direction: ltr;
					}
					margin-right: 200px;
					width: calc(100% - 200px);
				}
			}

			&.fixed {
				overflow: hidden;
			}
		}
	}
}

.obstruct {
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: #0005;
	backdrop-filter: grayscale(100%);
}
