main.home {
	@keyframes flashing {
		0% {
			color: red;
		}
		25% {
			color: black;
		}
		50% {
			color: red;
		}
		75% {
			color: black;
		}
		100% {
			color: red;
		}
	}

	.big {
		font-size: 16pt;
		font-weight: bold;
	}

	.flashing {
		animation: flashing 1s infinite;
	}

	.silly {
		font-family: 'Comic Sans MS';
	}
}
