.smilie {
	--bg1: #ffc600;
	--bg2: #dda400;
	--tc: #181818;
	--mb: #f1d7b2;
	--mc: #101020;
}

.purple-marble {
	--bg1: #9292c1;
	--bg2: #7070a0;
	--tc: #181818;
	--mb: #ffffff;
	--mc: #101020;
}

.dark-marble {
	--bg1: #32324f;
	--bg2: #10102d;
	--tc: #e6bb1c;
	--mb: #ffffff;
	--mc: #101020;
}

.owl {
	--bg1: #32324f;
	--bg2: #10102d;
	--tc: #e6bb1c;
	--mb: #00001c;
	--mc: #ddddef;
}

.plum-owl {
	--bg1: #43324f;
	--bg2: #22112e;
	--tc: #e6bb1c;
	--mb: #10001c;
	--mc: #e8ddf0;
}

.purple-owl {
	--bg1: #570f8a;
	--bg2: #36124f;
	--tc: #e6bb1c;
	--mb: #270042;
	--mc: #e8ddf0;
}

.black {
	--bg1: #333333;
	--bg2: #333333;
	--tc: #e6bb1c;
	--mb: #000000;
	--mc: #ffffff;
}

.white {
	--bg1: #333333;
	--bg2: #333333;
	--tc: #e6bb1c;
	--mb: #ffffff;
	--mc: #000000;
}

.hot-pink {
	--bg1: #990099;
	--bg2: #660066;
	--tc: #e6bb1c;
	--mb: #ffaaff;
	--mc: #220022;
}
