.smilie {
  --navbar-bg1: #ffc600;
  --navbar-bg2: #dda400;
  --navbar-text: #000000;
  --accent: #181818;
  --bg: #f1d7b2;
  --text: #101020;
}

.purple-marble {
  --navbar-bg1: #9292c1;
  --navbar-bg2: #7070a0;
  --navbar-text: #000000;
  --accent: #181818;
  --bg: #ffffff;
  --text: #101020;
}

.dark-marble {
  --navbar-bg1: #32324f;
  --navbar-bg2: #10102d;
  --navbar-text: #ffffff;
  --accent: #e6bb1c;
  --bg: #ffffff;
  --text: #101020;
}

.owl {
  --navbar-bg1: #32324f;
  --navbar-bg2: #10102d;
  --navbar-text: #ffffff;
  --accent: #e6bb1c;
  --bg: #00001c;
  --text: #ddddef;
}

.plum-owl {
  --navbar-bg1: #43324f;
  --navbar-bg2: #22112e;
  --navbar-text: #ffffff;
  --accent: #e6bb1c;
  --bg: #10001c;
  --text: #e8ddf0;
}

.purple-owl {
  --navbar-bg1: #570f8a;
  --navbar-bg2: #36124f;
  --navbar-text: #ffffff;
  --accent: #e6bb1c;
  --bg: #270042;
  --text: #e8ddf0;
}

.black {
  --navbar-bg1: #333333;
  --navbar-bg2: #333333;
  --navbar-text: #ffffff;
  --accent: #e6bb1c;
  --bg: #000000;
  --text: #ffffff;
}

.white {
  --navbar-bg1: #333333;
  --navbar-bg2: #333333;
  --navbar-text: #ffffff;
  --accent: #e6bb1c;
  --bg: #ffffff;
  --text: #000000;
}

.hot-pink {
  --navbar-bg1: #990099;
  --navbar-bg2: #660066;
  --navbar-text: #ffffff;
  --accent: #e6bb1c;
  --bg: #ffaaff;
  --text: #220022;
}
