.opt-theme {
	.opt-picker {
		grid-template-columns: repeat(12, 1fr);
		@media screen and (max-width: 1300px) {
			grid-template-columns: repeat(6, 1fr);
		}
		@media screen and (max-width: 1000px) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media screen and (max-width: 700px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media screen and (max-width: 600px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (max-width: 400px) {
			grid-template-columns: repeat(1, 1fr);
		}

		.opt-picker-item-wrap {
			.opt-picker-item {
				color: var(--c);
				background: linear-gradient(to bottom, var(--bg1), var(--bg2));
				min-height: 64px;
			}
		}
	}
}

.opt-lang {
	.opt-picker {
		grid-template-columns: repeat(9, 1fr);
		@media screen and (max-width: 1400px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media screen and (max-width: 900px) {
			grid-template-columns: repeat(1, 1fr);
		}
		.opt-picker-item-wrap {
			.opt-picker-item {
				color: var(--navbarText);
				background-color: var(--navbarBG1);
				&.alt-bg {
					background-color: var(--navbarBG2);
				}

				@media screen and (min-width: 901px) {
					min-height: 48px;
				}

				@media screen and (min-width: 1401px) {
					min-height: 64px;
				}
			}
		}
	}
}

main.opt {
	width: 100%;
	.opt-picker {
		display: grid;
		max-width: 100%;

		.opt-picker-item-wrap {
			text-decoration: none;

			.opt-picker-item {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;

				padding: 10px;
				font-size: 14pt;
			}
		}
	}
}
