main.page-switcher-page {
	button {
		border-color: var(--cardBG);
		background-color: var(--cardAccent);
		color: var(--cardBG);
		border-style: solid;
		padding: 5px;
		cursor: pointer;

		&.current {
			cursor: default;
			font-weight: bold;
			color: var(--cardAccent);
			background-color: var(--cardBG);
		}

		&.is-select {
			z-index: 2;
		}

		span {
			font-family: 'Comic Sans MS';
		}
	}

	display: flex;
	flex-direction: column;
}
